DATABASE_URL="your database url"
SECRET_KEY="your secret key"
GEMINI_API_KEY="your api key"
GOOGLE_CALENDAR_API_KEY="your api key"
GROQ_API_KEY="your api key"

SMTP_SERVER="smtp_server"
SMTP_PORT="smtp_port"
SMTP_USERNAME="[EMAIL_ADDRESS]"
SMTP_PASSWORD="smtp_password"